/*-----------------  GOOGLE FONTS  -----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

/*-----------------  VARIABLES  -----------------*/
:root {
    /* Colors */ 
    --orange-color: rgb(246, 99, 53);
    --white_color: rgb(255, 255, 255);
    --linear_gradient: linear-gradient(to right, #536976, #292e49);
    --black_color: rgb(0, 0, 0);
    --success_color: rgb(138, 232, 90);
    --danger_color: rgb(255, 71, 71);
}
html {
    font-size: 10px;
    /* Now 1rem = 10px */
}
/*-----------------  Base  -----------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
  background:var(--linear_gradient);
}
/*-----------------  Styling Start  -----------------*/
.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.time_date {
    display: flex;
    position: absolute;
    top: 1rem;
    left: 0;
    align-items: center;
    flex-direction: column;
} 
.todo_app{
    width: 100%;
    display: flex;
    margin-left: 5rem;
    align-items: center;
    flex-direction: column;
}
/* --------------- Dynamic Greetings  --------------------- */
.greetings {
    font-size: 1rem;
    color:var(--white_color);
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
}
/* --------------- End Dynamic Greetings  --------------------- */
/* --------------- Date Time  --------------------- */
.showdatetime {
    color:var(--white_color);
    width: 40rem;
    padding: 1.5rem 1rem;
}
.date {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.3rem;
}
.time {
    margin-top: 1rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span:not(:last-child){
    position: relative;
    margin: 0 0.6rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.3rem;
}
.time span:last-child{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0.5rem;
}
/* --------------- End Date Time  --------------------- */

/* --------------- To Do Web App  --------------------- */

h2 {
  font-size: 4rem;
  color: var(--white_color);
  margin: 5rem 1.5rem;
}
#create_task {
    width: 45rem;
    position: relative;
    background-color: var(--white_color);
    padding: 2rem 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 2rem 2.8rem rgba(1, 24, 48, 0.15);
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.6rem;
  }
  #create_task input {
    font-size: 1.6rem;
    border: none;
    border-bottom: 0.2rem solid var(--black_color);
    padding: 1.4rem 0.8rem;
    color: var(--black_color);
    font-weight: 500;
  }
  #create_task input:focus {
    outline: none;
    border-color: var(--orange-color);
  }
  #create_task button {
    font-weight: 500;
    font-size: 1.6rem;
    background-color: var(--orange-color);
    color:var(--white_color);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .delete_task {
    background-color: var(--danger_color);
  }
  .edit_task {
    background-color: var(--success_color);
    margin-left: auto;
    margin-right: 4rem;
  }
  .task_completed {
    text-decoration: line-through;
  }
  #todo_list {
    background-color: var(--white_color);
    position: relative;
    padding: 2.4rem 2rem;
    margin-top: 5rem;
    width: 45rem;
    box-shadow: 0 2rem 2.4rem rgba(1, 24, 48, 0.15);
    border-radius: 0.4rem;
  }
  .task_list {
    background-color: var(--white_color);
    padding: 0.4rem 1rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    border-bottom: 0.2rem solid var(--black_color);
    cursor: pointer;
  }
  .task_list span {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .task_list button {
    color: var(--white_color);
    padding: 1.2rem 0;
    width: 4rem;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #delete_all {
    font-weight: 500;
    font-size: 1.6rem;
    padding: 1rem;
    background-color: var(--danger_color);
    color:var(--white_color);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 5rem;
    display: none;
  }

/* --------------- End To Do Web App  --------------------- */
 